@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #121212;
  color: #ffffff;
  cursor: none;
}

/* Slider Container */
.custom-slider {
  appearance: none;
  width: 600px;
  height: 12px;
  background: linear-gradient(90deg, #5F5F5F 0%, #13141A);
  border-radius: 6px;
  /* This makes the bar rounded */
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;


}

.custom-slider:hover {
  opacity: 1;
}

/* Slider Thumb (Knob) */
.custom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 50px;
  height: 50px;
  background: #787878;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: none;
  /* This makes the knob rounded */
}

.custom-slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background: #787878;
  cursor: pointer;
  border-radius: 10px;
  /* This makes the knob rounded */
}

.flare {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  background-color: rgba(255, 255, 255, 1);
  /* Semi-transparent white color */
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.5);
  /* Blurry effect */
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.no-cursor {
  cursor: none;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure it stays behind other content */
  background: #121212;
  /* Background color to adjust brightness */
}